
#-------------
#-------------
## 3_flags.cfg
#-------------

#------------- FLAGS  -------------------------------------#

 #!define FLT_ACC 1
 #!define FLT_ACCMISSED 2
 #!define FLT_ACCFAILED 3
 #!define FLT_NATS 5
 #!define FLB_NATB 6
 #!define FLB_NATSIPPING 7
 #!define SIP_IP_OK 8
 #!define RINGING 10
 #!define CUST_AUTH_OK 11
 #!define RTPE 13
 #!define CANCELLED 14
 #!define ANSWERED 17

#-------------
